<?xml version="1.0"?>
<robot name="urdfbot">

  <material name="black">
    <color rgba="0 0 0 1"/>
  </material>

  <material name="blue">
    <color rgba="0 0 1 1"/>
  </material>

  <!--Chassi do carro-->
  <link name="body_link">
    <visual>
      <origin rpy = "0 0 0 " xyz = "0 0 0"/>
      <geometry>
        <box size="0.256 0.150 0.065"/>
      </geometry>
    </visual>
  </link>



  <!--Roda direita traseira do carro-->
  <joint name="wheel1_joint" type="fixed">
    <parent link="body_link"/>
    <child link="wheel1_link"/>
    <origin xyz="-0.0575 -0.0665 -0.03"/>
    <axis xyz="0 0 0"/>
  </joint>

  <link name="wheel1_link">
    <visual>
      <origin rpy="1.570795 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder length="0.025" radius="0.033"/>
      </geometry>
    </visual>
  </link>

  <!--Roda esquerda traseira do carro-->
  <joint name="wheel2_joint" type="fixed">
    <parent link="body_link"/>
    <child link="wheel2_link"/>
    <origin xyz="-0.0575 0.0665 -0.03"/>
    <axis xyz="0 0 0"/>
  </joint>

  <link name="wheel2_link">
    <visual>
      <origin rpy="1.570795 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder length="0.025" radius="0.033"/>
      </geometry>
    </visual>
  </link>

  <!--Roda esquerda dianteira do carro-->
  <joint name="wheel3_joint" type="fixed">
    <parent link="body_link"/>
    <child link="wheel3_link"/>
    <origin xyz="0.0575 0.0665 -0.03"/>
    <axis xyz="0 0 0"/>
  </joint>

  <link name="wheel3_link">
    <visual>
      <origin rpy="1.570795 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder length="0.025" radius="0.033"/>
      </geometry>
    </visual>
  </link>

<!--Roda direita dianteira do carro-->
  <joint name="wheel4_joint" type="fixed">
    <parent link="body_link"/>
    <child link="wheel4_link"/>
    <origin xyz="0.0575 -0.0665 -0.03"/>
    <axis xyz="0 0 1"/>
  </joint>

  <link name="wheel4_link">
    <visual>
      <origin rpy="1.570795 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder length="0.025" radius="0.033"/>
      </geometry>
    </visual>
  </link>

  <!--Estrutura para base do LIDAR-->

  <!--Struct 1-->
  <joint name="struct1_joint" type="fixed">
    <parent link="body_link"/>
    <child link="struct1_link"/>
    <origin xyz="0.0 0.0 0.05"/>
    <axis xyz="0 0 0"/>
  </joint>
  <link name="struct1_link">
    <visual>
      <origin rpy = "0 0 0 " xyz = "0 0 0"/>
      <geometry>
        <box size="0.01 0.01 0.038"/>
      </geometry>
    </visual>
  </link>

  <!--Struct 2-->
  <joint name="struct2_joint" type="fixed">
    <parent link="body_link"/>
    <child link="struct2_link"/>
    <origin xyz="-0.059 0.0115 0.05"/>
    <axis xyz="0 0 0"/>
  </joint>
  <link name="struct2_link">
    <visual>
      <origin rpy = "0 0 0 " xyz = "0 0 0"/>
      <geometry>
        <box size="0.01 0.01 0.038"/>
      </geometry>
    </visual>
  </link>

  <!--Struct 3-->
  <joint name="struct3_joint" type="fixed">
    <parent link="body_link"/>
    <child link="struct3_link"/>
    <origin xyz="-0.059 -0.0115 0.05"/>
    <axis xyz="0 0 0"/>
  </joint>
  <link name="struct3_link">
    <visual>
      <origin rpy = "0 0 0 " xyz = "0 0 0"/>
      <geometry>
        <box size="0.01 0.01 0.038"/>
      </geometry>
    </visual>
  </link>

  <!--Base do LIDAR-->
  <joint name="lidarB_joint" type="fixed">
    <parent link="struct1_link"/>
    <child link="lidarB_link"/>
    <origin xyz="-0.03 0.0 0.019"/>
    <axis xyz="0 0 0"/>
  </joint>
  <link name="lidarB_link">
    <visual>
      <origin rpy = "0 0 0 " xyz = "0 0 0"/>
      <geometry>
        <box size="0.08 0.08 0.005"/>
      </geometry>
    </visual>
  </link>

  <!--LIDAR-->
  <joint name="lidar_joint" type="fixed">
    <parent link="lidarB_link"/>
    <child link="lidar_link"/>
    <origin xyz="0.0 0.0 0.013"/>
    <axis xyz="0 0 0"/>
  </joint>
  <link name="lidar_link">
    <visual>
      <origin rpy = "0 0 0 " xyz = "0 0 0"/>
      <geometry>
        <box size="0.05 0.05 0.030"/>
      </geometry>
      <material name="black"/>
    </visual>
  </link>

  <!---->
  <joint name="gyro_joint" type="fixed">
    <parent link="body_link"/>
    <child link="gyro_link"/>
    <origin xyz="-0.03 0.0 0.0325"/>
    <axis xyz="0 0 0"/>
  </joint>
  <link name="gyro_link">
    <visual>
      <origin rpy = "0 0 0 " xyz = "0 0 0"/>
      <geometry>
        <box size="0.02 0.02 0.015"/>
      </geometry>
      <material name="blue"/>
    </visual>
  </link>




</robot>

